@import 'base/mixins';

@import 'common';


@include font(#{$fontFamily}, #{$fontFamily}-Bold, bold);
@include font(#{$fontFamily}, #{$fontFamily}-Medium, 500);
@include font(#{$fontFamily}, #{$fontFamily}-Regular);
@include font(#{$fontFamily}, #{$fontFamily}-SemiBold, 600);

input,
button,
textarea {
  font-family: $fontFamily, sans-serif;
  font-size: inherit;
}

** {
  @include x-placeholder {
    color: $colorTextPlaceholder;
  }
}

body {
  font-family: $fontFamily, sans-serif;
  font-size: $fontSize;
  color: $color;
}

.ag-format-container {
  width: $containerWidthDesktop;
  margin: 0 auto;
}

@media only screen and (max-width: ($maxWidthMobile - 1) + px) {
  .ag-format-container {
    width: 90%;
  }

}

@media only screen and (max-width: 639px) {
  .ag-format-container {
    width: 86%;
  }

}

@media only screen and (max-width: 479px) {


}

@media (min-width: $maxWidthMobile + px) and (max-width: $maxWidthTable + px) {
  .ag-format-container {
    width: ($maxWidthMobile - 20) + px;
  }

}

@media (min-width: ($maxWidthTable - 1) + px) and (max-width: ($containerWidthDesktop - 1 ) + px) {
  .ag-format-container {
    width: ($maxWidthTable - 20) + px;
  }

}